*{
    margin: 0;
}
.home-main-div{
}
.navbar{
    background-color:rgb(232, 127, 52);
    padding: 10px;
}
.home-img{
width : 100vw;
height:70vh;
margin-right:auto;
border-radius: 0%;
background-color: #aba8a0;

}
.home-desc-1{
    text-align: center;
    margin: 50px 0;
    color:chocolate;


}
.logo-div{
    display: flex;
    justify-content: space-around;

}
.logo-name{
    margin-bottom: 30px;
}
.work-info{
    width: 22%;
    margin: 10px 10px;
    text-align: center;
}
.home-desc-2{
    text-align: center;
    margin: 7% 0;
    color:chocolate;

}
.suarity-div{
    display:block;

}
.suarity-main-div1{
}
.suarity-main-div2{
    
}