

   .main-container{
    max-width: 80vw;
    height: auto;
    padding:0 10px;
    /* margin:  15px auto; */
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
   }
  .heading{
    font-size: 50px;
    text-align: start;
    color:#0a6a91 ;
  text-transform: capitalize;
  margin: 15px 0;
  font-weight: bold;

  }
  .jobpara p{
    margin-top: 10px;
  }
  .sub-heading{
    font-size: 35px;
    text-align: start;
    color:#0a6a91 ;
  text-transform: capitalize;
  margin: 10px 0;
  font-weight: 800;
  }
  .job-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .job-form-section1{
    width: 50%;
    height: 900px;
    /* background-color: lightblue; */
    padding-top: 30px;

  }
  .job-form-section2{
    width: 50%;
    height: 900px;
    /* background-color: lightcyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    


  }
  .jobfield{
    width: 80% !important;
    border: 1px solid black;
   
  }
  .job-field-con{
    width: 100%;
    display: flex;
   
justify-content: space-between;
    /* margin: 10px 0; */
  }
  .jobuser-img{
    width: 150px;
    margin: 55px 0 40px 0;
    height: 150px;
    cursor: pointer;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(12, 12, 12,0.1);

  
  }
  .agefield{
    width: 100% !important;
  }
  .radio-group{
   
    
    padding-left: 50px;
  }
  .job-user-gender{
    display: flex;
    margin-top: 10px;
    
  }
  .radio-field{
   margin-right: 5px;
  }
  .radio{
   font-size: 30px;
  }
  .radio-label{
    font-size: 20px !important;
  }
  .selec-field{
    width: 95%;
    height: 33px;
    font-size: 15px;
    padding-left: 10px;
    /* background-color:white; */
    text-transform: capitalize;
  }
  .margin-top{
    margin: 25px 0 !important;
  }
  .btnjob{
    margin-left: 0 !important;
  }
  .justify-start{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 20px;
  }

  @media screen and (max-width:600px){
    .main-container{
      max-width: 100vw;
      height: auto;
      padding:0 10px;
      /* margin:  15px auto; */
      margin-top: 50px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
     }

     .heading{
      font-size: 45px;
   
    margin: 10px 0;
   
  
    }
    .job-form{
      flex-direction: column;
    }
    .job-input-group{
      width: 100vw;
    }
    .jobfield{
      width: 80% !important;
      border: 1px solid black;
     
    }
    .job-field-con{
      flex-direction: column;
    }
    .margin-top{
      margin: 0px 0 !important;
    }
    .radio-group{
   
    
      padding-left: 0;
    }

    .job-form-section1{
      width: 100%;
      height: auto;
      /* background-color: lightblue; */
      padding-top: 30px;
  
    }
    .job-form-section2{
      width: 100%;
      height:auto;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      
  
  
    }
    .btnjob{
      margin-left:10px auto !important;
    }
    .justify-start{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }