/* .alltransaction-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.trans-container-main{
    box-shadow: 0 2px 20px 0 rgb(137, 135, 135);
    padding: 30px;
    margin: 50px;
    width: 500px;
}
.transaction-cards{
  
    box-shadow: 0 1px 10px 0  rgb(137, 135, 135); 
    margin: 30px;
    padding: 20px;
    width: 500px;
    position: relative;
}
.col-bla{
    color: #314259;
}
.all-card-container{
    height: 80vh;
    margin-top: 40px;
    
    
    overflow-y: scroll;
  }
  .all-card-container::-webkit-scrollbar {
    display: none;
  }
  .input-1{
    display: inline-block;
    margin: 15px;
  }
  .delete-text{
    position: absolute;
    right: 50px;
    bottom: 5px;
    color: red;
    cursor: pointer;
  }

  .edit-text{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: green;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .alltransaction-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .transaction-cards{
       
        padding: 20px;
        width: 350px;
    }

  } */

   .main-container{
    max-width: 100vw;
    height: auto;
    padding:0 10%;
   }
  .heading{
    font-size: 50px;
    text-align: start;
    color:#0a6a91 ;
  text-transform: capitalize;
  margin: 15px 0;
  font-weight: bold;

  }
  .jobpara p{
    margin-top: 10px;
  }
  .sub-heading{
    font-size: 35px;
    text-align: start;
    color:#0a6a91 ;
  text-transform: capitalize;
  margin: 10px 0;
  font-weight: 800;
  }
  .job-form{
    display: flex;
  }

  .job-form-section1{
    width: 50%;
    height: 900px;
    /* background-color: lightblue; */
    padding-top: 30px;

  }
  .job-form-section2{
    width: 50%;
    height: 900px;
    /* background-color: lightcyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    


  }
  .jobfield{
    width: 80% !important;
    border: 1px solid black;
   
  }
  .job-field-con{
    width: 100%;
    display: flex;
   
justify-content: space-between;
    /* margin: 10px 0; */
  }
  .jobuser-img{
    width: 150px;
    margin: 55px 0 40px 0;
    height: 150px;
    cursor: pointer;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(12, 12, 12,0.1);

  
  }
  .agefield{
    width: 100% !important;
  }
  .radio-group{
   
    
    padding-left: 50px;
  }
  .job-user-gender{
    display: flex;
    margin-top: 10px;
    
  }
  .radio-field{
   margin-right: 5px;
  }
  .radio{
   font-size: 30px;
  }
  .radio-label{
    font-size: 20px !important;
  }
  .selec-field{
    width: 95%;
    height: 45px;
    font-size: 20px;
    padding-left: 10px;
    /* background-color:white; */
    text-transform: capitalize;
  }
  .margin-top{
    margin: 25px 0 !important;
  }
  .btnjob{
    margin-left: 0 !important;
  }
  .justify-start{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 20px;
  }

  