.review-card{
    width: 700px;
    height:400px;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0,0.3);
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.review-card-child1{
    width: 100%;
    height: 35%;

    display: flex;
    justify-content: start;
    align-items: center;

}
.review-use-img{
    width: 130px;
    height: 130px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 30px;
}
.review-card-child1 div{
   margin-left: 30px;
   
}
.review-use-name{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
}
.review-time{
    font-size: 20px;
    color: rgb(52, 52, 52);
}
.review-card-child2{
width: 100%;
height: 15%;

display: flex;
justify-content: center;
align-items: center;
}
.review-card-child3{
    width: 100%;
    height: 50%;

    font-size: 25px;
    text-align: justify;
    padding: 10px 5%;

}
