.pricing-section{
    width: 100%;
    height: auto;
    
    box-shadow:  0 0 10px 3px #f4e1e1;
}
.pricing-section-child{
    width: 100%;
    height: auto;
}
.services-name{
    width: 100%;
    height: 60px;
  background-color: #fff;

    /* border: 1px solid black; */
    display: flex;
  
}
.services-name:hover{
    background-color: rgba(10, 106, 145,0.1);
   
  
}
.charges-color{
    background-color: rgba(10, 106, 145,0.1) !important;
}
.services-charges{
    width: 100%;
    height: auto;
    background-color: rgb(166, 224, 248,0.1);
    padding: 20px 0;
   
   
    
}
.charges-container{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    padding: 5px 0;

}


.name-of-shift{
    width: 70%;
font-size: 25px;
padding-left: 30px;
color: rgba(0, 0, 0,0.5);

  
}
.charges-onward{
    width: 30%;
    font-size: 25px;
    padding-left: 150px;
    color: rgba(0, 0, 0,0.5);
}


.name-of-services{
    width: 90%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    text-transform: capitalize;
    margin-top: 10px;
}
.services-icon{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus{
    width: 25px;
}

.price-display-none{
    display: none;
}










.review-container{
    max-width: 100vw;
    height: 420px;
    display: flex;
scroll-behavior: smooth;

}
.review-container1{
    width: 10%;
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.img{
    width: 30px;
}
.left-arrow{
    /* margin-right: -10px; */
}
.review-container2{
    width: 80%;
    height: 100%;
    /* background-color: lightpink; */
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.display-flex{
    display: flex;
  
}
.review-container3{
    width: 10%;
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.right-arrow{
    /* margin-left:-10px; */
}