.services-section{
 max-width: 100vw;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 100px;


}

.helpers-container{
    max-width: 100vw;
    height: 620px;
    display: flex;
scroll-behavior: smooth;
}

@media screen and (max-width:600px){
    .services-section{
        max-width: 100vw;
    
        justify-content: center;
        gap: 0px;
        flex-direction: column;
        align-items: center !important;
       
       
       }
}
