.services-section{
 max-width: 100vw;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 100px;


}

.helpers-container{
    max-width: 100vw;
    height: 620px;
    display: flex;
scroll-behavior: smooth;
}
