.service-card{
    width: 450px;
    height: 440px;
    padding: 10px;
    
    box-shadow:  0 0 10px 3px #f4e1e1;
    margin-top: 3px 0px;
    padding-top: 15px;
    background-color: #fff;
}
.service-caption{
    text-align: justify;
    font-size: 20px;
    color: black;
    margin-top: 20px;
   
}

.service-heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
 

}
.service-img{
    width: 200px;
    height: 220px;
    display: block;
    margin: 10px auto;
 
}

.text-docation{
    text-decoration: none;
}

@media screen and (max-width:600px){
    .service-card{
      
        
       
        margin: 15px 0px ;
      
    }
}